
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Module2</title>
    <link href="~/Content/bootstrap-themeunited.css" rel="stylesheet" />
   <!--<link href="~/Content/bootstrap-darklytheme.css" rel="stylesheet" />--> 
</head>
<body>
    <header class="container">
       
        <nav class="col-md-12 navbar navbar-static-top">
      
                <img src="~/Content/logoheart.png" />
            
            <ul class="nav  navbar-nav pull-right">
                <li class="nav active"><a href="/About.htm">About Us</a></li>
                <li class="nav">
                    <a href="/About.htm">Contact Us</a></li>
                <li class="nav"> <a href="/About.htm">Products and Services</a></li> 
</ul>
        </nav>
        </header>

            <div>
            </div>
    <div class="container" >
        <div class="row" >
            <div class="well col-md-12" style="background-image:url('../Content/bg7.jpg ')">
                <div class="row">
                    <div class="col-md-12"> <p> Welcome to My website we will develop using bootstrap!</p></div>
                </div>
                <div class="row"><div class="col-md-6"><h5 class="text-success">Sign up to recieve news letters!</h5></div></div>
                <div class="row">
                    <div class="col-md-3">

                        <form>
                            <div class="form-group">
                                <input class="form-control" placeholder="Enter Your Name Here" type="text" /><br />
                                <input class="form-control" placeholder="Enter Your Email Here" type="text" /><br />
                                <input type="submit" value="Register" class="btn-lg btn-danger" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="well col-md-12">
                <div class="row">
                    <div class="col-md-12"> <p> Welcome to My website we will develop using bootstrap!</p></div>
                </div>
                <div class="row"><div class="col-md-6"><h5 class="text-success">Sign up to recieve news letters!</h5></div></div>
                <div class="row">
                    <div class="col-md-3">

                        <form>
                            <div class="form-group">
                                <input class="form-control" placeholder="Enter Your Name Here" type="text" /><br />
                                <input class="form-control" placeholder="Enter Your Email Here" type="text" /><br />
                                <input type="submit" value="Register" class="btn-lg btn-danger" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/bootstrap.min.js"></script>